<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Play Demo</title>
    <link rel="stylesheet" href="/static/css/px-video.css" />
</head>
<body>
    <div class="px-video-container" id="myvid">
        <div class="px-video-img-captions-container">
            <div class="px-video-captions hide" aria-hidden="true"></div>
            <video width="640" height="360" poster="/static/images/foo.jpg" controls>
                <!-- <source src="/play/foo.mp4" type="video/mp4" /> -->
                <source src="/play/foo.webm" type="video/webm" />
                <!-- <track kind="captions" label="English captions" src="media/foo.vtt" srclang="en" default /> -->
                <div>
                    <a href="/play/foo.webm">
                        <img src="/static/images/foo.jpg" width="640" height="360" alt="download video" />
                    </a>
                </div>
            </video>
        </div>
        <div class="px-video-controls"></div>
    </div>
</body>
</html>